# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/wp-admin/
/wp-includes/
/license.txt
/readme.html

# Configuration

# Example themes
/wp-content/themes/twenty*/

/wp-content/uploads/
/wp-content/languages
/wp-content/plugins/
/wp-content/ai1wm-backups/
/wp-content/astra-local-fonts/
/wp-content/cache/
/wp-content/mu-plugins/
/wp-content/themes/astra/admin/
/wp-content/themes/astra/assets/
/wp-content/themes/astra/inc/
/wp-content/themes/astra/template-parts/
/wp-content/themes/astra/template-parts/
